extends ../layout/admin.pug

block styles
     link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block content

  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Real
      span.font-normal state 
    h2.text-center.text-2xl.font-extrabold= page

    if errors 
      div(class="max-w-md mx-auto my-10")
        each error in errors
          p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

    div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
        form.space-y-8(method="POST" ACTION="/properties/create")
            input(type="hidden" name="_csrf" value=csrfToken)
            .space-y-5  
                h3.text-lg.leading-6.font-medium.text-gray-900 Información general 
                p.text-gray-600 Añade información sobre la propiedad en venta.

                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="title") Título del post 
                    input#title.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(placeholder="Property title..." type="text" name="title" value=data.title? data.title : '')
                
                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="description") Descripción 
                    textarea#description.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(placeholder="Property description..."  name="description")=data.description? data.description : ''

                div(class="md:flex md:gap-4 space-y-5 md:space-0")

                    div(class="md:w-1/2") 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="category") Categoría
                        select#category.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(name="category")
                            option(value="") - Seleccionar -
                            each category in categories 
                                option(value=category.id selected=data.category ? data.category == category.id ? true : false : false)=category.name
                    
                    div(class="md:w-1/2") 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="price") Precio
                        select#price.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(name="price")
                            option(value="") - Seleccionar -
                            each price in prices 
                                option(value=price.id selected=data.price ? data.price == price.id ? true : false : false)=price.name
                
                div(class="md:flex md:gap-4 space-y-5 md:space-0")

                    div(class="md:w-1/3") 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="rooms") Habitaciones
                        select#rooms.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(name="rooms")
                            option(value="") - Seleccionar -
                            - var n = 1;
                                while n < 7 
                                    option(value =n selected=data.rooms ? data.rooms == n ? true : false : false) #{n++}
                    
                    div(class="md:w-1/3") 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="parking") Aparcamiento
                        select#parking.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(name="parking")
                            option(value="") - Seleccionar -
                            - var n = 1;
                                while n < 5 
                                    option(value = n selected=data.parking ? data.parking == n ? true : false : false) #{n++}
                    
                    div(class="md:w-1/3") 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="bathrooms") Baños
                        select#bathrooms.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2(name="bathrooms")
                            option(value="") - Seleccionar -
                            - var n = 1;
                                while n < 5 
                                    option(value = n selected=data.bathrooms ? data.bathrooms == n ? true : false : false) #{n++}
                div.border-gray-200.border-t.py-5.space-y-5                    
                    h3.text-lg.leading-6.font-medium.text-gray-900 Localización
                    p.text-gray-600 Localiza la propiedad en el mapa
                    #map.h-96

                    div 
                        p.street=data.street ? data.street : ''
                    input(type="hidden" name="street" id="street" value= data.street ? data.street : '')
                    input(type="hidden" name="lat" id="lat" value= data.lat ? data.lat : '')
                    input(type="hidden" name="lng" id="lng" value= data.lng ? data.lng : '')
                
                input(class="w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer" type="submit" value="Añadir imagen")
                    

block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
    script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
    script(src="/js/map.js")